.grid-container{
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 50px 1fr;
    height: 100vh;
}

.header{
    height: 50px;
    grid-column: 1 / 3;
    background-color: #6785C1;
    display: flex;
    align-items: center;
    gap: 2em;
    padding-left: 20px;
    span{
        color: white;
    }
}

.divider{
    width: 1px;
    background-color: #EEF3FDFF;
    height: 70%;
}

.sidebar{
    grid-column: 1;
    grid-row: 2;
    width: 50px;
    background-color: white;
    border-right: 3px solid #E5E5E5;
    padding-top: 1em;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

.sidebar-items{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.router{
    grid-column: 2;
}

.pointer{
    cursor: pointer;
}


