h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #515151;
    text-transform: uppercase;
    margin: 0;
    margin-top: 1em;
}

hr{
    border: 1px solid #6785C1;
    margin-bottom: 2em;
}