.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2em;
    justify-items: center;
}

.wrapper{
    margin-top: 2em;
    display: grid;
    place-items: center;
}