<app-page-title [title]="'Conecta RH'" text="Página inicial de navegação do software.">
    <app-home-svg></app-home-svg>
</app-page-title>

<div class="wrapper">
    <div class="grid-container max-width">
        <app-page-item [title]="'SQUAD'" 
            [text]="'Gestão das SQUADS'" 
            routerLink="/squad/list">
            <app-squad-svg></app-squad-svg>
        </app-page-item>
        <app-page-item [title]="'Colaboradores'" 
            [text]="'Gestão dos colaboradores'" 
            routerLink="/employees/list">
            <app-employees-svg></app-employees-svg>
        </app-page-item>
        <app-page-item [title]="'Férias '" 
            [text]="'Gestão de férias '" 
            routerLink="/absences">
            <app-icon-calendar-svg></app-icon-calendar-svg>
        </app-page-item>
    </div>
</div>