label{
    display: block;
}

input{
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3em;
    row-gap: 2em;
}

.btn{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}