<app-title [title]="'SQUADS'"></app-title>

<div class="new-squad">
    <button routerLink="/squad">NOVA SQUAD</button>
</div>

<ng-container *ngIf="dataSource.loading$ | async; else squadTable">
    carregando
</ng-container>

<ng-template #squadTable>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="squad">
            <th mat-header-cell *matHeaderCellDef> SQUAD </th>
            <td mat-cell *matCellDef="let squad" [routerLink]="['/squad', squad.id]"> {{squad?.squad}} </td>
        </ng-container>

        <ng-container matColumnDef="nomeGestor">
            <th mat-header-cell *matHeaderCellDef> Nome gestor </th>
            <td mat-cell *matCellDef="let squad" [routerLink]="['/squad', squad.id]"> {{squad?.nomeGestor}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let squad" [routerLink]="['/squad', squad.id]"> {{squad?.email}} </td>
        </ng-container>

        <ng-container matColumnDef="ext">
            <th mat-header-cell *matHeaderCellDef> EXT </th>
            <td mat-cell *matCellDef="let squad" [routerLink]="['/squad', squad.id]"> {{squad?.ext}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let squad"> <button class="remove-btn" (click)="removeSquad(squad)">X</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-template>