label{
    display: block;
}

.grid-employee-infos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}

.grid-cliente-infos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}

.grid-ntt-infos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}

input, select{
    width: 90%;
}

.btn{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    margin: 3em 0;
}