<app-title [title]="'Férias'"></app-title>
<form [formGroup]="absenceForm">
    <div class="abstence-grid">
        <div>
            <label for="date">DATA INÍCIO</label>
            <input type="date" formControlName="start" id="date"/>
        </div>
    
        <div>
            <label for="end">DATA TÉRMINO</label>
            <input type="date" formControlName="end" id="end" />
        </div>
    
        <div class="justificativa">
            <label for="title">cpf</label>
            <input type="text" formControlName="cpf" id="title"  mask="000.000.000-00"  />
        </div>
        <div class="absence-btn">
            <button (click)="addAbsence()">Adicionar</button>
        </div>
    </div>
</form>
<full-calendar [options]="calendarOptions"></full-calendar>

<ng-template #loading>
    Carregando...
</ng-template>